<mat-sidenav-container class="app-sidenav-container"  [class.dark-theme]="isDarkTheme" [dir]= "dir">
    <mat-sidenav #sidenav (keydown.escape)="sidenav.close()" class="app-sidenav mat-elevation-z10"
     [opened]="!isSmallScreen()" [mode]="isSmallScreen() ? 'over' : 'side'">
       
        <mat-toolbar color="primary">
            <span>Contacts</span>
            <button mat-button class="half-close-button" [ngClass]="{'right-aligned': dir == 'ltr',
                                                                     'left-aligned': dir == 'rtl'}">
                <mat-icon *ngIf="dir == 'ltr' ">arrow_back</mat-icon>
                <mat-icon *ngIf="dir == 'rtl' ">arrow_forward</mat-icon>
            </button>
        </mat-toolbar>
        
        <mat-nav-list>
            <mat-list-item *ngFor="let user of users| async" [ngClass]= "{'left-aligned': dir == 'ltr',
                                                                        'right-aligned': dir == 'rtl'}">
                <a matLine [routerLink]="['/contactmanager', user.id]">
                    <mat-icon svgIcon= "{{ user.avatar }}"></mat-icon>{{ user.name }}
                </a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="app-sidenav-content">
        <app-toolbar (toggleTheme)="toggleTheme()"
                     (toggleDir)="toggleDir()"
                     (toggleSidenav)="sidenav.toggle()"></app-toolbar>
        <div class= "wrapper">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>