.flex-container{
    display: flex;
    flex-direction: row; // wrap content for small screens
    flex-wrap: wrap;
    justify-content: space-around //distributes the remaining space between items
}

@media all and (max-width: 1220px){
    .flex-container{
        justify-content: flex-start;
    }
}

.flex-item{
    width: 200px;
    height: 150px;

    margin-top: 5px;
    background: tomato;
    color:white;
    font-size: 3em;
    text-align: center;
    line-height: 150px;
}